.popover_wrapper {
  color: black;
  background-color: whitesmoke;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 1.5rem;
  opacity: 100;
  position: absolute;
  z-index: 100;
  align-content: center;
}

.popover_method_info {
  font-size: 12px;
  font-style: italic;
  color: lightgrey;
  opacity: 90;
}